/* src/styles/ProjectsSection.css */

.projects-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    background-color: #30363c; /* Fondo consistente con la sección About */
    color: #f5f5f5;
    box-sizing: border-box;
    margin-top: 40px;
}

.section-title {
    font-family: 'Hack Nerd Font', 'Courier New', Courier, monospace;
    font-size: 4vw;
    color: rgb(241, 187, 10);
    margin-bottom: 50px;
    text-align: center;
    padding: 0 10px;
    user-select: none; 
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer/Edge */
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho disponible para centrar las tarjetas */
    max-width: 1200px; /* Ancho máximo similar al AboutSection */
}

/* Media Queries para el título de la sección */
@media (max-width: 900px) {
  .section-title {
    font-size: 7vw;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .section-title {
    font-size: 10vw;
    margin-bottom: 30px;
  }
}