/* src/styles/HomeSection.css */

/*Estilo para la seccion completa del home*/
.home-scaffold {
  display: flex;
  flex-direction: row;
  justify-content: center; /* O 'start' */
  align-items: start;
  padding: 7vw;
  min-height: 100%;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100vw;
  flex: 1;

}

/*Estilo para la seccion con el h1*/
.home-title {
  font-family: "Hack Nerd Font", "Courier New", Courier, monospace;
  font-size: 5vw;
  color: #f1bb0a;
  user-select: none; /*Desactiva la seleccion de texto*/
}

/*Estilo para el parrafo descriptivo en la seccion*/
.description-text {
  font-family: "Hack Nerd Font", "Courier New", Courier, monospace;
  font-size: 1.5vw;
  text-align: start;
  color: #e4e2db;
  width: 80%;
  margin-top: 1vw;
  user-select: none;
}

.home-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1bb0a;
  border-radius: 30% 10% 30% 10%;
  flex: 1;
  height: 452px; /* Asegura que sea un cuadrado para border-radius: 50% */
  max-width: 352px;
  user-select: none; 
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer/Edge */
}

.profile-image {
  width: 350px; /* Tamaño base de la imagen */
  height: 450px; /* Asegura que sea un cuadrado para border-radius: 50% */
  border-radius: 30% 10% 30% 10%; /* Para hacerla circular */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  /* border: 2px solid rgb(241, 187, 10); Borde alrededor de la imagen */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

/* Estilos para la flecha de desplazamiento */
.scroll-down-arrow {
  position: absolute; /* Posicionamiento absoluto para colocarla al final de la sección */
  bottom: 5px; /* Distancia desde la parte inferior de la sección */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para centrarla perfectamente */
  font-size: 4em; /* Tamaño de la flecha */
  color: rgb(241, 187, 10); /* Color de la flecha, el mismo que tu título */
  text-decoration: none; /* Elimina el subrayado si es un enlace */
  cursor: pointer;
  animation: bounce 2s infinite; /* Aplica la animación de rebote */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Añade esta línea */
}

.hidden-arrow {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Deshabilita clics cuando no es visible */
  transform: translateY(20px) translateX(-50%); /* Oculta suavemente hacia abajo */
  /* Asegúrate de que .scroll-down-arrow tenga una transición para la opacidad y el transform */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Definición de la animación de rebote */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) translateX(-50%); /* Posición normal */
  }
  40% {
    transform: translateY(-15px) translateX(-50%); /* Sube 15px */
  }
  60% {
    transform: translateY(-8px) translateX(-50%); /* Baja 8px, para un efecto de rebote más suave */
  }
}

/* Media Queries para Responsividad */
@media (max-width: 900px) {
  /* Ajuste para pantallas medianas, como tablets en horizontal */
  .home-scaffold {
    flex-direction: column; /* Apila el contenido en columna */
    padding: 10vw 5vw; /* Más padding vertical en móviles */
    gap: 40px; /* Ajusta el espacio */
    position: relative;
  }

  .home-content-wrapper,
  .home-image-container {
    max-width: 100%; /* Permite que ocupen todo el ancho disponible */
  }

  .home-title {
    font-size: 8vw; /* Haz el título más grande en móviles */
  }

  .description-text {
    font-size: 3vw; /* Haz el párrafo más grande en móviles */
  }

  .profile-image {
    width: 350px;
    height: 450px;
  }
}

/* Media Queries para ajustar la flecha en pantallas pequeñas */
@media (max-width: 600px) {
  .scroll-down-arrow {
    font-size: 2.5em; /* Tamaño más pequeño en móviles */
    bottom: 20px; /* Más cerca del borde inferior */
  }
}

@media (max-width: 600px) {
  /* Ajuste para pantallas pequeñas, como móviles */
  .home-scaffold {
    padding: 15vw 5vw; /* Más padding aún en pantallas muy pequeñas */
  }

  .home-title {
    font-size: 10vw; /* Título aún más grande */
  }

  .description-text {
    font-size: 4vw; /* Párrafo más grande */
  }

  .profile-image {
    width: 280px;
    height: 280px;
  }
}
